<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuro.mapper.ClaMapper">

    <select id="getCla" resultType="com.neuro.pojo.Clazz">
        select clazz.id,subject,clazz.name,clazz.room,clazz.create_time,clazz.update_time,clazz.begin_date,clazz.end_date,clazz.master_id,emp.name masterName
               from clazz,emp
        <where>
            <if test="name != null and name != ''">
                AND clazz.name LIKE concat('%', #{name}, '%')
            </if>

            <if test="begin != null and begin != '' and end != null and end != ''">
                AND end_date BETWEEN #{begin} AND #{end}
            </if>
                AND clazz.master_id = emp.id
        </where>
    </select>


    <select id="countClaData" resultType="java.util.Map">
        select clazz.name class ,count(student.id) num from student,clazz  where student.clazz_id=clazz.id group by clazz.name order by num;

    </select>
</mapper>